
<h1> All Pledges </h1> 

<p>
  <%= link_to "Log Out", destroy_user_session_path %> 
</p> 

<ul> 
<% @users.each do |user| %> 
  <p>
  <li>
    Name: <%= user.name%> <br>
    Adderess: <%= user.address %><br>
    Email: <%= user.email %> <br>
    Pledge: <%= user.pledge.try(:amount) %> <br>
    Frequency: <%= user.pledge.try(:frequency) %> <br>
    Start Date: <%= user.pledge.try(:startdate) %> <br>
  </li>
<% end %> 
</ul> 